* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 15px;
  line-height: 25px;
  font-family: "Raleway", sans-serif; }

ul {
  list-style: none; }

a, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.wrapper {
  max-width: 1640px;
  padding: 0 80px;
  margin: 0 auto; }

.header .wrapper {
  background: url("../img/bg.png") top center no-repeat;
  background-size: cover;
  padding-bottom: 187px; }

.header__top {
  padding-top: 52px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

.header__menu {
  display: -webkit-box;
  display: flex; }
  .header__menu a {
    margin: 0 25px;
    color: #fff;
    font-weight: 600; }
  .header__menu a:hover {
    color: #000; }

.header__btn a {
  font-size: 12px;
  color: #ffffff;
  padding: 0.5px 2px;
  width: 80px;
  border-radius: 2px;
  border: solid 1px #fff;
  text-align: center; }

.header__content {
  margin-top: 169px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.header__content--item {
  width: 50%; }

.header__title {
  max-width: 471px;
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 23px; }

.header__description {
  max-width: 580px;
  font-size: 18px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 31.5px; }

.header__link a {
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  padding: 17px 3px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15); }

a.header__link--by {
  color: #fff;
  background: #061e37;
  margin-right: 30px; }

a.header__link--try {
  color: #061e37;
  background: #fff; }

.header__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.header__content--video {
  max-width: 600px; }
  .header__content--video iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.header__video--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../img/video-img.png") top center no-repeat;
  background-size: cover;
  z-index: 10;
  cursor: pointer; }
